.fold {
  background: $homepageColor;
  overflow: hidden;
}

.homepage {
  .header {
    border-bottom: none;
  }
}

.hero {
  color: $titleColor;
  position: relative;
  width: 100%;
  padding: 60px 0 80px 0;

  @media #{$breakpoint-tablet} {
    padding: 80px 0 100px 0;
  }

  .container {
    position: relative;
  }

  .greeting {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
    color: $titleColor;
  }

  h1 {
    display: block;
    margin: 0 0 18px 0;
    font-size: 36px;
    line-height: 1.4;
    max-width: 863px;

    @media #{$breakpoint-tablet} {
      font-size: 56px;
      line-height: 1.4;
    }
  }

  .hero-subtitle {
    font-family: $sans-serif;
    font-size: 20px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.65);
    max-width: 863px;
    margin: 0;

    @media #{$breakpoint-tablet} {
      font-size: 28px;
    }
  }

  p.hero-subtitle {
    font-family: $sans-serif;
  }

  .hero-links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      color: $linkColor;
      font-size: 18px;
      text-decoration: underline;

      @media #{$breakpoint-tablet} {
        font-size: 20px;
      }
    }
  }
}

.case-studies {
  padding: 72px 0;

  .overview-text {
    font-family: $sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: $textColor;
    max-width: 600px;
    margin: 0 0 60px 0;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 40px;

    @media #{$breakpoint-desktop} {
      font-size: 36px;
    }
  }

  article {
    margin-bottom: 80px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;

      h3 {
        @include transition(all .1s ease);
        font-size: 24px;
        color: $titleColor;
        font-weight: 600;
        line-height: 32px;
      }

      .details {
        .year {
          color: $textColorLight;
          font-size: 14px;
          line-height: 20px;
          margin: 20px 0 4px 0;
          font-weight: 700;

          &:first-child {
            &:before {
              background: #C0C4C9;
              content: "";
              display: block;
              width: 42px;
              height: 2px;
              margin-bottom: 24px;
            }
          }

          .company {
            color: $titleColor;
            font-size: 18px;
            font-weight: 600;
            display: block;
          }
        }

        .year + .year {
          margin-top: 7px;

          &:before {
            display: none;
          }
        }
      }

      .frame {
        overflow: hidden;

        img {
          @include transition(all .1s ease);
          border-radius: 3px;
          width: 100%;
          margin-bottom: 18px;

          @media #{$breakpoint-tablet} {
            margin-bottom: 0;
          }
        }
      }

      &:hover {

        h3 {
          color: #006FEE;
        }

        .frame {
          img {
            transform: scale(1.025);
          }
        }
      }
    }
  }
}
